@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$clr-blue: hsl(223, 87%, 63%);
$clr-pale-blue: hsl(223, 100%, 88%);
$clr-light-red: hsl(354, 100%, 66%);
$clr-gray: hsl(0, 0%, 59%);
$clr-dark-blue: hsl(209, 33%, 12%);


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
}

h1, p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding-block: 5.06rem 2.31rem;
}

// Hero
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 2.28rem;
    margin-bottom: 4.5rem;

    &__logo {
        display: block;
        width: 56px;
        margin-bottom: 2rem;
    }

    &__title {
        color: $clr-gray;
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 2rem;
        text-align: center;
        margin-bottom: .68em;
    }

    &__title > span {
        color: $clr-dark-blue;
        font-weight: 700;
    }

    &__description {
        color: $clr-dark-blue;
        font-size: .75rem;
    }

    .subscribe {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding-inline: .69rem;

        &__email-input,
        &__button {
            font-family: inherit;
            font-size: .75rem;
            border-radius: 100vw;
        }

        &__email-input {
            font-weight: 300;
            line-height: 1.25rem;
            padding: .83em 2.66em;
            border: 1px solid $clr-pale-blue;
            box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.00);

            &::placeholder {
                color: $clr-pale-blue;
            }

            &:focus {
                outline: 1px solid $clr-blue;
            }
        }

        &__error-message {
            display: none;
            color: $clr-light-red;
            font-size: 0.625rem;
            font-style: italic;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.00781rem;
            text-align: center;
            margin-bottom: 1em;
        }

        &__button {
            background-color: $clr-blue;
            color: #fff;
            font-weight: 600;
            line-height: 1rem;
            margin-top: .833em;
            padding-block: 1em;
            border: none;
            box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
        }
    }
}

.dashboard-img {
    width: 100%;
    margin-bottom: 8.26rem;
    padding-inline: 1.72rem;
}

.footer {
    margin-bottom: 5rem;

    &__icons-wrapper {
        display: flex;
        gap: .75rem;
        justify-content: center;
    }

    &__icon {
        width: 31px;
        height: 31px;
        display: grid;
        place-items: center;
        color: $clr-blue;
        font-size: .95rem;
        margin-bottom: 1.69rem;
        border-radius: 50%;
        border: .918px solid rgba(76, 123, 243, 0.35);
    }

    &__text {
        display: block;
        color: $clr-gray;
        font-size: 0.625rem;
        font-weight: 300;
        text-align: center;
    }
}

/* Attribution */
.attribution {
    background-color: #fff;
    opacity: .9;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__text {
        font-size: 11px;
        text-align: center;
    }

    &__link {
        color: hsl(228, 45%, 44%);
    }
}