@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$clr-blue: hsl(223, 87%, 63%);
$clr-pale-blue: hsl(223, 100%, 88%);
$clr-light-red: hsl(354, 100%, 66%);
$clr-gray: hsl(0, 0%, 59%);
$clr-dark-blue: hsl(209, 33%, 12%);


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
}

h1, p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 2.28;
    outline: 1px solid red;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        display: block;
        width: 56px;
        margin-bottom: 2rem;
    }

    &__title {
        color: $clr-gray;
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 2rem;
        margin-bottom: .68em;
    }

    &__title > span {
        color: $clr-dark-blue;
        font-weight: 700;
    }

    &__description {
        color: $clr-dark-blue;
        font-size: .75rem;
    }

    .subscribe {
        width: 100%;
        margin-top: 2rem;
        outline: 1px solid red;
    }
}

.dashboard-img {
    width: 100%;

}

/* Footer */
.attribution {
    background-color: #fff;
    opacity: .9;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__text {
        font-size: 11px;
        text-align: center;
    }

    &__link {
        color: hsl(228, 45%, 44%);
    }
}